# Test Results

```text
[INFO] Scanning for projects...
[INFO]
[INFO] ----------------------< com.progetto:fdi-project >----------------------
[INFO] Building fdi-project 1.0-SNAPSHOT
[INFO]   from pom.xml
[INFO] --------------------------------[ jar ]---------------------------------
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/plugins/maven-surefire-plugin/3.2.5/maven-surefire-plugin-3.2.5.pom
Progress (1): 834 B
Progress (1): 2.3 kB
Progress (1): 4.9 kB
Progress (1): 5.3 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/plugins/maven-surefire-plugin/3.2.5/maven-surefire-plugin-3.2.5.pom (5.3 kB at 17 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire/3.2.5/surefire-3.2.5.pom
Progress (1): 787 B
Progress (1): 1.8 kB
Progress (1): 3.7 kB
Progress (1): 6.5 kB
Progress (1): 9.7 kB
Progress (1): 13 kB
Progress (1): 15 kB
Progress (1): 17 kB
Progress (1): 20 kB
Progress (1): 22 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire/3.2.5/surefire-3.2.5.pom (22 kB at 732 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/plugins/maven-surefire-plugin/3.2.5/maven-surefire-plugin-3.2.5.jar
Progress (1): 0.9/45 kB
Progress (1): 2.3/45 kB
Progress (1): 3.7/45 kB
Progress (1): 5.0/45 kB
Progress (1): 6.4/45 kB
Progress (1): 7.8/45 kB
Progress (1): 9.1/45 kB
Progress (1): 11/45 kB
Progress (1): 12/45 kB
Progress (1): 13/45 kB
Progress (1): 14/45 kB
Progress (1): 16/45 kB
Progress (1): 17/45 kB
Progress (1): 18/45 kB
Progress (1): 20/45 kB
Progress (1): 21/45 kB
Progress (1): 23/45 kB
Progress (1): 24/45 kB
Progress (1): 25/45 kB
Progress (1): 27/45 kB
Progress (1): 28/45 kB
Progress (1): 29/45 kB
Progress (1): 31/45 kB
Progress (1): 32/45 kB
Progress (1): 33/45 kB
Progress (1): 35/45 kB
Progress (1): 36/45 kB
Progress (1): 38/45 kB
Progress (1): 39/45 kB
Progress (1): 40/45 kB
Progress (1): 42/45 kB
Progress (1): 43/45 kB
Progress (1): 44/45 kB
Progress (1): 45 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/plugins/maven-surefire-plugin/3.2.5/maven-surefire-plugin-3.2.5.jar (45 kB at 1.1 MB/s)
[INFO]
[INFO] --- resources:3.3.1:resources (default-resources) @ fdi-project ---
[WARNING] Using platform encoding (UTF-8 actually) to copy filtered resources, i.e. build is platform dependent!
[INFO] skip non existing resourceDirectory /home/runner/work/progettoFDI-secondo-semestre/progettoFDI-secondo-semestre/src/src/main/resources
[INFO]
[INFO] --- compiler:3.13.0:compile (default-compile) @ fdi-project ---
[INFO] No sources to compile
[INFO]
[INFO] --- resources:3.3.1:testResources (default-testResources) @ fdi-project ---
[WARNING] Using platform encoding (UTF-8 actually) to copy filtered resources, i.e. build is platform dependent!
[INFO] skip non existing resourceDirectory /home/runner/work/progettoFDI-secondo-semestre/progettoFDI-secondo-semestre/src/src/test/resources
[INFO]
[INFO] --- compiler:3.13.0:testCompile (default-testCompile) @ fdi-project ---
[INFO] No sources to compile
[INFO]
[INFO] --- surefire:3.2.5:test (default-test) @ fdi-project ---
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/maven-surefire-common/3.2.5/maven-surefire-common-3.2.5.pom
Progress (1): 848 B
Progress (1): 3.4 kB
Progress (1): 5.9 kB
Progress (1): 6.2 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/maven-surefire-common/3.2.5/maven-surefire-common-3.2.5.pom (6.2 kB at 231 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-api/3.2.5/surefire-api-3.2.5.pom
Progress (1): 843 B
Progress (1): 2.7 kB
Progress (1): 3.5 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-api/3.2.5/surefire-api-3.2.5.pom (3.5 kB at 153 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-logger-api/3.2.5/surefire-logger-api-3.2.5.pom
Progress (1): 834 B
Progress (1): 2.3 kB
Progress (1): 3.3 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-logger-api/3.2.5/surefire-logger-api-3.2.5.pom (3.3 kB at 130 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-shared-utils/3.2.5/surefire-shared-utils-3.2.5.pom
Progress (1): 1.1 kB
Progress (1): 4.1 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-shared-utils/3.2.5/surefire-shared-utils-3.2.5.pom (4.1 kB at 193 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-extensions-api/3.2.5/surefire-extensions-api-3.2.5.pom
Progress (1): 842 B
Progress (1): 2.8 kB
Progress (1): 3.3 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-extensions-api/3.2.5/surefire-extensions-api-3.2.5.pom (3.3 kB at 157 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-booter/3.2.5/surefire-booter-3.2.5.pom
Progress (1): 834 B
Progress (1): 3.0 kB
Progress (1): 4.5 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-booter/3.2.5/surefire-booter-3.2.5.pom (4.5 kB at 202 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-extensions-spi/3.2.5/surefire-extensions-spi-3.2.5.pom
Progress (1): 878 B
Progress (1): 1.8 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-extensions-spi/3.2.5/surefire-extensions-spi-3.2.5.pom (1.8 kB at 84 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/eclipse/aether/aether-util/1.0.0.v20140518/aether-util-1.0.0.v20140518.pom
Progress (1): 937 B
Progress (1): 2.2 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/eclipse/aether/aether-util/1.0.0.v20140518/aether-util-1.0.0.v20140518.pom (2.2 kB at 110 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/eclipse/aether/aether/1.0.0.v20140518/aether-1.0.0.v20140518.pom
Progress (1): 798 B
Progress (1): 3.2 kB
Progress (1): 5.1 kB
Progress (1): 9.1 kB
Progress (1): 12 kB
Progress (1): 17 kB
Progress (1): 20 kB
Progress (1): 21 kB
Progress (1): 24 kB
Progress (1): 29 kB
Progress (1): 30 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/eclipse/aether/aether/1.0.0.v20140518/aether-1.0.0.v20140518.pom (30 kB at 1.3 MB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/eclipse/aether/aether-api/1.0.0.v20140518/aether-api-1.0.0.v20140518.pom
Progress (1): 938 B
Progress (1): 1.9 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/eclipse/aether/aether-api/1.0.0.v20140518/aether-api-1.0.0.v20140518.pom (1.9 kB at 90 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/shared/maven-common-artifact-filters/3.1.1/maven-common-artifact-filters-3.1.1.pom
Progress (1): 798 B
Progress (1): 2.3 kB
Progress (1): 5.7 kB
Progress (1): 5.8 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/shared/maven-common-artifact-filters/3.1.1/maven-common-artifact-filters-3.1.1.pom (5.8 kB at 252 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/maven-artifact/3.2.5/maven-artifact-3.2.5.pom
Progress (1): 843 B
Progress (1): 2.3 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/maven-artifact/3.2.5/maven-artifact-3.2.5.pom (2.3 kB at 112 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/maven/3.2.5/maven-3.2.5.pom
Progress (1): 759 B
Progress (1): 1.9 kB
Progress (1): 3.4 kB
Progress (1): 5.3 kB
Progress (1): 11 kB
Progress (1): 15 kB
Progress (1): 18 kB
Progress (1): 19 kB
Progress (1): 22 kB
Progress (1): 22 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/maven/3.2.5/maven-3.2.5.pom (22 kB at 973 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/maven-parent/25/maven-parent-25.pom
Progress (1): 730 B
Progress (1): 2.0 kB
Progress (1): 6.0 kB
Progress (1): 11 kB
Progress (1): 15 kB
Progress (1): 19 kB
Progress (1): 23 kB
Progress (1): 23 kB
Progress (1): 25 kB
Progress (1): 28 kB
Progress (1): 31 kB
Progress (1): 35 kB
Progress (1): 37 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/maven-parent/25/maven-parent-25.pom (37 kB at 1.6 MB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/apache/15/apache-15.pom
Progress (1): 754 B
Progress (1): 2.1 kB
Progress (1): 3.9 kB
Progress (1): 7.9 kB
Progress (1): 11 kB
Progress (1): 14 kB
Progress (1): 15 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/apache/15/apache-15.pom (15 kB at 586 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/maven-core/3.2.5/maven-core-3.2.5.pom
Progress (1): 794 B
Progress (1): 2.2 kB
Progress (1): 5.3 kB
Progress (1): 8.1 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/maven-core/3.2.5/maven-core-3.2.5.pom (8.1 kB at 336 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/maven-settings/3.2.5/maven-settings-3.2.5.pom
Progress (1): 823 B
Progress (1): 2.2 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/maven-settings/3.2.5/maven-settings-3.2.5.pom (2.2 kB at 109 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/maven-settings-builder/3.2.5/maven-settings-builder-3.2.5.pom
Progress (1): 823 B
Progress (1): 2.6 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/maven-settings-builder/3.2.5/maven-settings-builder-3.2.5.pom (2.6 kB at 124 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/codehaus/plexus/plexus-interpolation/1.21/plexus-interpolation-1.21.pom
Progress (1): 1.3 kB
Progress (1): 1.5 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/codehaus/plexus/plexus-interpolation/1.21/plexus-interpolation-1.21.pom (1.5 kB at 62 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/codehaus/plexus/plexus-components/1.3.1/plexus-components-1.3.1.pom
Progress (1): 1.3 kB
Progress (1): 3.1 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/codehaus/plexus/plexus-components/1.3.1/plexus-components-1.3.1.pom (3.1 kB at 133 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/codehaus/plexus/plexus/3.3.1/plexus-3.3.1.pom
Progress (1): 707 B
Progress (1): 2.6 kB
Progress (1): 6.1 kB
Progress (1): 8.6 kB
Progress (1): 11 kB
Progress (1): 16 kB
Progress (1): 20 kB
Progress (1): 20 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/codehaus/plexus/plexus/3.3.1/plexus-3.3.1.pom (20 kB at 929 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/sonatype/spice/spice-parent/17/spice-parent-17.pom
Progress (1): 1.2 kB
Progress (1): 3.4 kB
Progress (1): 6.7 kB
Progress (1): 6.8 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/sonatype/spice/spice-parent/17/spice-parent-17.pom (6.8 kB at 282 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/sonatype/forge/forge-parent/10/forge-parent-10.pom
Progress (1): 735 B
Progress (1): 2.6 kB
Progress (1): 8.6 kB
Progress (1): 12 kB
Progress (1): 14 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/sonatype/forge/forge-parent/10/forge-parent-10.pom (14 kB at 542 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/codehaus/plexus/plexus-component-annotations/1.5.5/plexus-component-annotations-1.5.5.pom
Progress (1): 815 B

Downloaded from central: https://repo.maven.apache.org/maven2/org/codehaus/plexus/plexus-component-annotations/1.5.5/plexus-component-annotations-1.5.5.pom (815 B at 37 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/codehaus/plexus/plexus-containers/1.5.5/plexus-containers-1.5.5.pom
Progress (1): 1.3 kB
Progress (1): 4.2 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/codehaus/plexus/plexus-containers/1.5.5/plexus-containers-1.5.5.pom (4.2 kB at 184 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/codehaus/plexus/plexus/2.0.7/plexus-2.0.7.pom
Progress (1): 711 B
Progress (1): 2.8 kB
Progress (1): 6.4 kB
Progress (1): 9.1 kB
Progress (1): 13 kB
Progress (1): 17 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/codehaus/plexus/plexus/2.0.7/plexus-2.0.7.pom (17 kB at 752 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/sonatype/plexus/plexus-sec-dispatcher/1.3/plexus-sec-dispatcher-1.3.pom
Progress (1): 1.3 kB
Progress (1): 3.0 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/sonatype/plexus/plexus-sec-dispatcher/1.3/plexus-sec-dispatcher-1.3.pom (3.0 kB at 129 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/sonatype/spice/spice-parent/12/spice-parent-12.pom
Progress (1): 1.2 kB
Progress (1): 4.2 kB
Progress (1): 6.8 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/sonatype/spice/spice-parent/12/spice-parent-12.pom (6.8 kB at 324 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/sonatype/forge/forge-parent/4/forge-parent-4.pom
Progress (1): 1.4 kB
Progress (1): 5.8 kB
Progress (1): 8.4 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/sonatype/forge/forge-parent/4/forge-parent-4.pom (8.4 kB at 350 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/sonatype/plexus/plexus-cipher/1.4/plexus-cipher-1.4.pom
Progress (1): 1.4 kB
Progress (1): 2.1 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/sonatype/plexus/plexus-cipher/1.4/plexus-cipher-1.4.pom (2.1 kB at 115 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/maven-repository-metadata/3.2.5/maven-repository-metadata-3.2.5.pom
Progress (1): 823 B
Progress (1): 2.2 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/maven-repository-metadata/3.2.5/maven-repository-metadata-3.2.5.pom (2.2 kB at 101 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/maven-plugin-api/3.2.5/maven-plugin-api-3.2.5.pom
Progress (1): 816 B
Progress (1): 2.5 kB
Progress (1): 3.0 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/maven-plugin-api/3.2.5/maven-plugin-api-3.2.5.pom (3.0 kB at 151 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/eclipse/sisu/org.eclipse.sisu.plexus/0.9.0.M2/org.eclipse.sisu.plexus-0.9.0.M2.pom
Progress (1): 827 B
Progress (1): 3.5 kB
Progress (1): 8.7 kB
Progress (1): 15 kB
Progress (1): 15 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/eclipse/sisu/org.eclipse.sisu.plexus/0.9.0.M2/org.eclipse.sisu.plexus-0.9.0.M2.pom (15 kB at 713 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/eclipse/sisu/sisu-plexus/0.9.0.M2/sisu-plexus-0.9.0.M2.pom
Progress (1): 811 B
Progress (1): 2.8 kB
Progress (1): 4.9 kB
Progress (1): 8.5 kB
Progress (1): 12 kB
Progress (1): 15 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/eclipse/sisu/sisu-plexus/0.9.0.M2/sisu-plexus-0.9.0.M2.pom (15 kB at 725 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/javax/annotation/javax.annotation-api/1.2/javax.annotation-api-1.2.pom
Progress (1): 702 B
Progress (1): 2.0 kB
Progress (1): 3.5 kB
Progress (1): 5.5 kB
Progress (1): 8.7 kB
Progress (1): 12 kB
Progress (1): 13 kB

Downloaded from central: https://repo.maven.apache.org/maven2/javax/annotation/javax.annotation-api/1.2/javax.annotation-api-1.2.pom (13 kB at 537 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/net/java/jvnet-parent/3/jvnet-parent-3.pom
Progress (1): 838 B
Progress (1): 2.5 kB
Progress (1): 4.8 kB

Downloaded from central: https://repo.maven.apache.org/maven2/net/java/jvnet-parent/3/jvnet-parent-3.pom (4.8 kB at 228 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/javax/enterprise/cdi-api/1.2/cdi-api-1.2.pom
Progress (1): 1.0 kB
Progress (1): 3.3 kB
Progress (1): 5.8 kB
Progress (1): 6.3 kB

Downloaded from central: https://repo.maven.apache.org/maven2/javax/enterprise/cdi-api/1.2/cdi-api-1.2.pom (6.3 kB at 251 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/jboss/weld/weld-parent/26/weld-parent-26.pom
Progress (1): 1.0 kB
Progress (1): 2.9 kB
Progress (1): 6.3 kB
Progress (1): 11 kB
Progress (1): 16 kB
Progress (1): 19 kB
Progress (1): 22 kB
Progress (1): 26 kB
Progress (1): 31 kB
Progress (1): 32 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/jboss/weld/weld-parent/26/weld-parent-26.pom (32 kB at 1.3 MB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/eclipse/sisu/org.eclipse.sisu.inject/0.9.0.M2/org.eclipse.sisu.inject-0.9.0.M2.pom
Progress (1): 804 B
Progress (1): 4.1 kB
Progress (1): 10 kB
Progress (1): 16 kB
Progress (1): 17 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/eclipse/sisu/org.eclipse.sisu.inject/0.9.0.M2/org.eclipse.sisu.inject-0.9.0.M2.pom (17 kB at 788 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/eclipse/sisu/sisu-inject/0.9.0.M2/sisu-inject-0.9.0.M2.pom
Progress (1): 819 B
Progress (1): 2.8 kB
Progress (1): 4.9 kB
Progress (1): 8.5 kB
Progress (1): 12 kB
Progress (1): 15 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/eclipse/sisu/sisu-inject/0.9.0.M2/sisu-inject-0.9.0.M2.pom (15 kB at 643 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/codehaus/plexus/plexus-component-annotations/2.1.0/plexus-component-annotations-2.1.0.pom
Progress (1): 750 B

Downloaded from central: https://repo.maven.apache.org/maven2/org/codehaus/plexus/plexus-component-annotations/2.1.0/plexus-component-annotations-2.1.0.pom (750 B at 36 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/codehaus/plexus/plexus-containers/2.1.0/plexus-containers-2.1.0.pom
Progress (1): 1.3 kB
Progress (1): 4.7 kB
Progress (1): 4.8 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/codehaus/plexus/plexus-containers/2.1.0/plexus-containers-2.1.0.pom (4.8 kB at 218 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/codehaus/plexus/plexus-classworlds/2.6.0/plexus-classworlds-2.6.0.pom
Progress (1): 932 B
Progress (1): 2.6 kB
Progress (1): 5.5 kB
Progress (1): 7.9 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/codehaus/plexus/plexus-classworlds/2.6.0/plexus-classworlds-2.6.0.pom (7.9 kB at 360 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/maven-model-builder/3.2.5/maven-model-builder-3.2.5.pom
Progress (1): 836 B
Progress (1): 2.7 kB
Progress (1): 3.0 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/maven-model-builder/3.2.5/maven-model-builder-3.2.5.pom (3.0 kB at 143 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/maven-aether-provider/3.2.5/maven-aether-provider-3.2.5.pom
Progress (1): 811 B
Progress (1): 3.0 kB
Progress (1): 4.2 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/maven-aether-provider/3.2.5/maven-aether-provider-3.2.5.pom (4.2 kB at 212 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/eclipse/aether/aether-spi/1.0.0.v20140518/aether-spi-1.0.0.v20140518.pom
Progress (1): 934 B
Progress (1): 2.1 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/eclipse/aether/aether-spi/1.0.0.v20140518/aether-spi-1.0.0.v20140518.pom (2.1 kB at 103 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/eclipse/aether/aether-impl/1.0.0.v20140518/aether-impl-1.0.0.v20140518.pom
Progress (1): 922 B
Progress (1): 3.5 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/eclipse/aether/aether-impl/1.0.0.v20140518/aether-impl-1.0.0.v20140518.pom (3.5 kB at 151 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/sonatype/sisu/sisu-guice/3.2.3/sisu-guice-3.2.3.pom
Progress (1): 1.3 kB
Progress (1): 3.8 kB
Progress (1): 6.0 kB
Progress (1): 9.7 kB
Progress (1): 11 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/sonatype/sisu/sisu-guice/3.2.3/sisu-guice-3.2.3.pom (11 kB at 437 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/sonatype/sisu/inject/guice-parent/3.2.3/guice-parent-3.2.3.pom
Progress (1): 799 B
Progress (1): 2.7 kB
Progress (1): 5.1 kB
Progress (1): 7.6 kB
Progress (1): 10 kB
Progress (1): 13 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/sonatype/sisu/inject/guice-parent/3.2.3/guice-parent-3.2.3.pom (13 kB at 612 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/sonatype/forge/forge-parent/38/forge-parent-38.pom
Progress (1): 812 B
Progress (1): 2.5 kB
Progress (1): 5.0 kB
Progress (1): 8.7 kB
Progress (1): 12 kB
Progress (1): 16 kB
Progress (1): 19 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/sonatype/forge/forge-parent/38/forge-parent-38.pom (19 kB at 852 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/aopalliance/aopalliance/1.0/aopalliance-1.0.pom
Progress (1): 363 B

Downloaded from central: https://repo.maven.apache.org/maven2/aopalliance/aopalliance/1.0/aopalliance-1.0.pom (363 B at 19 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/com/google/guava/guava/16.0.1/guava-16.0.1.pom
Progress (1): 956 B
Progress (1): 2.8 kB
Progress (1): 5.3 kB
Progress (1): 6.1 kB

Downloaded from central: https://repo.maven.apache.org/maven2/com/google/guava/guava/16.0.1/guava-16.0.1.pom (6.1 kB at 254 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/com/google/guava/guava-parent/16.0.1/guava-parent-16.0.1.pom
Progress (1): 1.1 kB
Progress (1): 2.9 kB
Progress (1): 6.3 kB
Progress (1): 7.3 kB

Downloaded from central: https://repo.maven.apache.org/maven2/com/google/guava/guava-parent/16.0.1/guava-parent-16.0.1.pom (7.3 kB at 386 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/sonatype/oss/oss-parent/7/oss-parent-7.pom
Progress (1): 848 B
Progress (1): 2.5 kB
Progress (1): 4.8 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/sonatype/oss/oss-parent/7/oss-parent-7.pom (4.8 kB at 230 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/codehaus/plexus/plexus-classworlds/2.5.2/plexus-classworlds-2.5.2.pom
Progress (1): 930 B
Progress (1): 3.0 kB
Progress (1): 6.0 kB
Progress (1): 7.3 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/codehaus/plexus/plexus-classworlds/2.5.2/plexus-classworlds-2.5.2.pom (7.3 kB at 365 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/commons-io/commons-io/2.15.1/commons-io-2.15.1.pom
Progress (1): 765 B
Progress (1): 2.1 kB
Progress (1): 5.2 kB
Progress (1): 7.6 kB
Progress (1): 10 kB
Progress (1): 12 kB
Progress (1): 15 kB
Progress (1): 18 kB
Progress (1): 20 kB

Downloaded from central: https://repo.maven.apache.org/maven2/commons-io/commons-io/2.15.1/commons-io-2.15.1.pom (20 kB at 951 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/commons/commons-parent/65/commons-parent-65.pom
Progress (1): 705 B
Progress (1): 1.9 kB
Progress (1): 3.1 kB
Progress (1): 4.7 kB
Progress (1): 6.4 kB
Progress (1): 8.4 kB
Progress (1): 10 kB
Progress (1): 13 kB
Progress (1): 15 kB
Progress (1): 18 kB
Progress (1): 19 kB
Progress (1): 23 kB
Progress (1): 25 kB
Progress (1): 28 kB
Progress (1): 32 kB
Progress (1): 32 kB
Progress (1): 36 kB
Progress (1): 41 kB
Progress (1): 44 kB
Progress (1): 46 kB
Progress (1): 49 kB
Progress (1): 51 kB
Progress (1): 55 kB
Progress (1): 58 kB
Progress (1): 60 kB
Progress (1): 64 kB
Progress (1): 68 kB
Progress (1): 71 kB
Progress (1): 74 kB
Progress (1): 76 kB
Progress (1): 78 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/commons/commons-parent/65/commons-parent-65.pom (78 kB at 3.2 MB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/junit/junit-bom/5.10.1/junit-bom-5.10.1.pom
Progress (1): 908 B
Progress (1): 4.1 kB
Progress (1): 5.6 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/junit/junit-bom/5.10.1/junit-bom-5.10.1.pom (5.6 kB at 257 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/maven-surefire-common/3.2.5/maven-surefire-common-3.2.5.jar
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-api/3.2.5/surefire-api-3.2.5.jar
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-logger-api/3.2.5/surefire-logger-api-3.2.5.jar
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-extensions-api/3.2.5/surefire-extensions-api-3.2.5.jar
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-booter/3.2.5/surefire-booter-3.2.5.jar
Progress (1): 7.7/308 kB
Progress (1): 16/308 kB
Progress (1): 25/308 kB
Progress (1): 41/308 kB
Progress (1): 57/308 kB
Progress (1): 74/308 kB
Progress (1): 90/308 kB
Progress (1): 106/308 kB
Progress (1): 123/308 kB
Progress (1): 139/308 kB
Progress (1): 156/308 kB
Progress (1): 172/308 kB
Progress (1): 188/308 kB
Progress (1): 205/308 kB
Progress (1): 221/308 kB
Progress (1): 238/308 kB
Progress (1): 254/308 kB
Progress (1): 270/308 kB
Progress (1): 287/308 kB
Progress (1): 303/308 kB
Progress (1): 308 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/maven-surefire-common/3.2.5/maven-surefire-common-3.2.5.jar (308 kB at 8.8 MB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-extensions-spi/3.2.5/surefire-extensions-spi-3.2.5.jar
Progress (1): 0.9/14 kB
Progress (1): 2.3/14 kB
Progress (1): 3.7/14 kB
Progress (1): 5.0/14 kB
Progress (1): 6.4/14 kB
Progress (1): 7.8/14 kB
Progress (1): 9.1/14 kB
Progress (1): 11/14 kB
Progress (1): 12/14 kB
Progress (1): 13/14 kB
Progress (1): 14 kB
Progress (2): 14 kB | 0.9/26 kB
Progress (2): 14 kB | 2.3/26 kB
Progress (2): 14 kB | 3.7/26 kB
Progress (2): 14 kB | 5.0/26 kB
Progress (2): 14 kB | 6.4/26 kB
Progress (2): 14 kB | 7.8/26 kB
Progress (2): 14 kB | 9.1/26 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-logger-api/3.2.5/surefire-logger-api-3.2.5.jar (14 kB at 331 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/eclipse/aether/aether-util/1.0.0.v20140518/aether-util-1.0.0.v20140518.jar
Progress (1): 11/26 kB
Progress (1): 12/26 kB
Progress (1): 13/26 kB
Progress (1): 15/26 kB
Progress (1): 16/26 kB
Progress (1): 17/26 kB
Progress (1): 18/26 kB
Progress (1): 20/26 kB
Progress (1): 21/26 kB
Progress (2): 21/26 kB | 0.9/118 kB
Progress (2): 21/26 kB | 2.3/118 kB
Progress (2): 21/26 kB | 3.7/118 kB
Progress (2): 21/26 kB | 5.0/118 kB
Progress (3): 21/26 kB | 5.0/118 kB | 0.9/171 kB
Progress (3): 21/26 kB | 5.0/118 kB | 2.3/171 kB
Progress (3): 21/26 kB | 6.4/118 kB | 2.3/171 kB
Progress (3): 23/26 kB | 6.4/118 kB | 2.3/171 kB
Progress (3): 23/26 kB | 6.4/118 kB | 3.7/171 kB
Progress (3): 23/26 kB | 7.8/118 kB | 3.7/171 kB
Progress (3): 24/26 kB | 7.8/118 kB | 3.7/171 kB
Progress (3): 24/26 kB | 7.8/118 kB | 5.0/171 kB
Progress (3): 24/26 kB | 9.1/118 kB | 5.0/171 kB
Progress (3): 24/26 kB | 9.1/118 kB | 6.4/171 kB
Progress (3): 25/26 kB | 9.1/118 kB | 6.4/171 kB
Progress (3): 25/26 kB | 11/118 kB | 6.4/171 kB
Progress (3): 26 kB | 11/118 kB | 6.4/171 kB
Progress (3): 26 kB | 11/118 kB | 7.8/171 kB
Progress (3): 26 kB | 12/118 kB | 7.8/171 kB
Progress (3): 26 kB | 12/118 kB | 9.1/171 kB
Progress (3): 26 kB | 13/118 kB | 9.1/171 kB
Progress (3): 26 kB | 13/118 kB | 11/171 kB
Progress (3): 26 kB | 13/118 kB | 12/171 kB
Progress (3): 26 kB | 14/118 kB | 12/171 kB
Progress (3): 26 kB | 14/118 kB | 13/171 kB
Progress (3): 26 kB | 16/118 kB | 13/171 kB
Progress (3): 26 kB | 16/118 kB | 15/171 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-extensions-api/3.2.5/surefire-extensions-api-3.2.5.jar (26 kB at 574 kB/s)
Progress (2): 17/118 kB | 15/171 kB
Progress (2): 17/118 kB | 16/171 kB
Progress (2): 17/118 kB | 17/171 kB
Progress (2): 17/118 kB | 19/171 kB
Progress (2): 17/118 kB | 20/171 kB
Progress (2): 17/118 kB | 21/171 kB
Progress (2): 17/118 kB | 23/171 kB
Progress (2): 17/118 kB | 24/171 kB
Progress (2): 17/118 kB | 26/171 kB
Progress (2): 17/118 kB | 27/171 kB
Progress (2): 17/118 kB | 28/171 kB
Progress (2): 17/118 kB | 30/171 kB
Progress (2): 17/118 kB | 31/171 kB
Progress (2): 17/118 kB | 32/171 kB
Progress (2): 17/118 kB | 34/171 kB
Progress (2): 18/118 kB | 34/171 kB
Progress (2): 18/118 kB | 35/171 kB
Progress (2): 20/118 kB | 35/171 kB
Progress (2): 20/118 kB | 37/171 kB
Progress (2): 21/118 kB | 37/171 kB
Progress (2): 21/118 kB | 38/171 kB
Progress (2): 23/118 kB | 38/171 kB
Progress (2): 23/118 kB | 39/171 kB
Progress (2): 24/118 kB | 39/171 kB
Progress (2): 24/118 kB | 41/171 kB
Progress (2): 25/118 kB | 41/171 kB
Progress (2): 25/118 kB | 42/171 kB
Progress (2): 25/118 kB | 43/171 kB
Progress (2): 27/118 kB | 43/171 kB
Progress (2): 28/118 kB | 43/171 kB
Progress (2): 28/118 kB | 45/171 kB
Progress (2): 29/118 kB | 45/171 kB
Progress (2): 31/118 kB | 45/171 kB
Progress (2): 32/118 kB | 45/171 kB
Progress (2): 33/118 kB | 45/171 kB
Progress (2): 35/118 kB | 45/171 kB
Progress (2): 36/118 kB | 45/171 kB
Progress (2): 38/118 kB | 45/171 kB
Progress (2): 39/118 kB | 45/171 kB
Progress (2): 40/118 kB | 45/171 kB
Progress (2): 42/118 kB | 45/171 kB
Progress (2): 43/118 kB | 45/171 kB
Progress (2): 44/118 kB | 45/171 kB
Progress (2): 46/118 kB | 45/171 kB
Progress (2): 47/118 kB | 45/171 kB
Progress (2): 49/118 kB | 45/171 kB
Progress (2): 50/118 kB | 45/171 kB

Downloading from central: https://repo.maven.apache.org/maven2/org/eclipse/aether/aether-api/1.0.0.v20140518/aether-api-1.0.0.v20140518.jar
Progress (2): 50/118 kB | 46/171 kB
Progress (2): 50/118 kB | 47/171 kB
Progress (2): 50/118 kB | 49/171 kB
Progress (2): 50/118 kB | 50/171 kB
Progress (2): 50/118 kB | 52/171 kB
Progress (2): 50/118 kB | 53/171 kB
Progress (2): 50/118 kB | 54/171 kB
Progress (2): 50/118 kB | 56/171 kB
Progress (2): 51/118 kB | 56/171 kB
Progress (2): 53/118 kB | 56/171 kB
Progress (2): 54/118 kB | 56/171 kB
Progress (2): 55/118 kB | 56/171 kB
Progress (2): 60/118 kB | 56/171 kB
Progress (2): 64/118 kB | 56/171 kB
Progress (2): 66/118 kB | 56/171 kB
Progress (2): 70/118 kB | 56/171 kB
Progress (2): 74/118 kB | 56/171 kB
Progress (2): 78/118 kB | 56/171 kB
Progress (2): 78/118 kB | 60/171 kB
Progress (2): 82/118 kB | 60/171 kB
Progress (2): 87/118 kB | 60/171 kB
Progress (2): 87/118 kB | 64/171 kB
Progress (2): 87/118 kB | 68/171 kB
Progress (2): 87/118 kB | 73/171 kB
Progress (2): 87/118 kB | 77/171 kB
Progress (2): 87/118 kB | 81/171 kB
Progress (3): 87/118 kB | 81/171 kB | 7.7/8.2 kB
Progress (3): 87/118 kB | 81/171 kB | 8.2 kB
Progress (3): 87/118 kB | 85/171 kB | 8.2 kB
Progress (3): 87/118 kB | 90/171 kB | 8.2 kB
Progress (3): 87/118 kB | 94/171 kB | 8.2 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-extensions-spi/3.2.5/surefire-extensions-spi-3.2.5.jar (8.2 kB at 151 kB/s)
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/shared/maven-common-artifact-filters/3.1.1/maven-common-artifact-filters-3.1.1.jar
Progress (2): 87/118 kB | 98/171 kB
Progress (2): 87/118 kB | 102/171 kB
Progress (2): 87/118 kB | 106/171 kB
Progress (2): 87/118 kB | 111/171 kB
Progress (2): 91/118 kB | 111/171 kB
Progress (2): 91/118 kB | 115/171 kB
Progress (2): 91/118 kB | 119/171 kB
Progress (2): 95/118 kB | 119/171 kB
Progress (2): 99/118 kB | 119/171 kB
Progress (2): 99/118 kB | 123/171 kB
Progress (2): 104/118 kB | 123/171 kB
Progress (2): 104/118 kB | 128/171 kB
Progress (2): 108/118 kB | 128/171 kB
Progress (2): 108/118 kB | 132/171 kB
Progress (2): 112/118 kB | 132/171 kB
Progress (2): 112/118 kB | 136/171 kB
Progress (3): 112/118 kB | 136/171 kB | 0.9/146 kB
Progress (3): 116/118 kB | 136/171 kB | 0.9/146 kB
Progress (3): 116/118 kB | 136/171 kB | 2.3/146 kB
Progress (3): 116/118 kB | 140/171 kB | 2.3/146 kB
Progress (3): 118 kB | 140/171 kB | 2.3/146 kB
Progress (3): 118 kB | 140/171 kB | 3.7/146 kB
Progress (3): 118 kB | 140/171 kB | 5.0/146 kB
Progress (3): 118 kB | 144/171 kB | 5.0/146 kB
Progress (3): 118 kB | 144/171 kB | 6.4/146 kB
Progress (3): 118 kB | 149/171 kB | 6.4/146 kB
Progress (3): 118 kB | 149/171 kB | 7.8/146 kB
Progress (3): 118 kB | 149/171 kB | 9.1/146 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-booter/3.2.5/surefire-booter-3.2.5.jar (118 kB at 2.1 MB/s)
Progress (2): 153/171 kB | 9.1/146 kB
Progress (2): 153/171 kB | 11/146 kB
Progress (2): 153/171 kB | 12/146 kB
Progress (2): 157/171 kB | 12/146 kB
Progress (2): 161/171 kB | 12/146 kB
Progress (2): 166/171 kB | 12/146 kB
Progress (2): 170/171 kB | 12/146 kB
Progress (2): 170/171 kB | 12/146 kB
Progress (2): 171 kB | 12/146 kB
Progress (2): 171 kB | 14/146 kB
Progress (2): 171 kB | 15/146 kB
Progress (2): 171 kB | 16/146 kB
Progress (2): 171 kB | 18/146 kB

Downloading from central: https://repo.maven.apache.org/maven2/commons-io/commons-io/2.15.1/commons-io-2.15.1.jar
Progress (2): 171 kB | 19/146 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-api/3.2.5/surefire-api-3.2.5.jar (171 kB at 2.8 MB/s)
Progress (1): 21/146 kB

Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-shared-utils/3.2.5/surefire-shared-utils-3.2.5.jar
Progress (1): 22/146 kB
Progress (1): 23/146 kB
Progress (1): 25/146 kB
Progress (1): 26/146 kB
Progress (1): 27/146 kB
Progress (1): 29/146 kB
Progress (1): 30/146 kB
Progress (1): 31/146 kB
Progress (1): 33/146 kB
Progress (1): 34/146 kB
Progress (1): 36/146 kB
Progress (1): 37/146 kB
Progress (1): 38/146 kB
Progress (1): 40/146 kB
Progress (1): 44/146 kB
Progress (1): 48/146 kB
Progress (1): 52/146 kB
Progress (1): 57/146 kB
Progress (1): 61/146 kB
Progress (1): 65/146 kB
Progress (1): 69/146 kB
Progress (1): 74/146 kB
Progress (1): 78/146 kB
Progress (1): 82/146 kB
Progress (1): 86/146 kB
Progress (2): 86/146 kB | 0.9/136 kB
Progress (2): 86/146 kB | 2.3/136 kB
Progress (2): 90/146 kB | 2.3/136 kB
Progress (2): 90/146 kB | 3.7/136 kB
Progress (2): 90/146 kB | 5.0/136 kB
Progress (2): 90/146 kB | 6.4/136 kB
Progress (2): 90/146 kB | 7.8/136 kB
Progress (2): 95/146 kB | 7.8/136 kB
Progress (2): 95/146 kB | 9.1/136 kB
Progress (2): 95/146 kB | 11/136 kB
Progress (2): 95/146 kB | 12/136 kB
Progress (2): 95/146 kB | 12/136 kB
Progress (2): 99/146 kB | 12/136 kB
Progress (2): 99/146 kB | 14/136 kB
Progress (2): 99/146 kB | 15/136 kB
Progress (2): 99/146 kB | 16/136 kB
Progress (2): 99/146 kB | 18/136 kB
Progress (2): 103/146 kB | 18/136 kB
Progress (2): 103/146 kB | 19/136 kB
Progress (2): 103/146 kB | 21/136 kB
Progress (2): 103/146 kB | 22/136 kB
Progress (2): 103/146 kB | 23/136 kB
Progress (2): 103/146 kB | 25/136 kB
Progress (2): 107/146 kB | 25/136 kB
Progress (2): 107/146 kB | 26/136 kB
Progress (2): 112/146 kB | 26/136 kB
Progress (2): 116/146 kB | 26/136 kB
Progress (2): 120/146 kB | 26/136 kB
Progress (2): 124/146 kB | 26/136 kB
Progress (2): 128/146 kB | 26/136 kB
Progress (2): 133/146 kB | 26/136 kB
Progress (2): 137/146 kB | 26/136 kB
Progress (2): 137/146 kB | 27/136 kB
Progress (2): 141/146 kB | 27/136 kB
Progress (2): 141/146 kB | 32/136 kB
Progress (2): 141/146 kB | 36/136 kB
Progress (2): 143/146 kB | 36/136 kB
Progress (2): 146 kB | 36/136 kB
Progress (2): 146 kB | 40/136 kB
Progress (2): 146 kB | 44/136 kB
Progress (2): 146 kB | 48/136 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/eclipse/aether/aether-util/1.0.0.v20140518/aether-util-1.0.0.v20140518.jar (146 kB at 2.1 MB/s)
Progress (1): 53/136 kB
Progress (1): 57/136 kB
Progress (1): 61/136 kB
Progress (1): 65/136 kB
Progress (1): 70/136 kB
Progress (2): 70/136 kB | 7.7/61 kB
Progress (2): 74/136 kB | 7.7/61 kB
Progress (2): 74/136 kB | 16/61 kB
Progress (2): 78/136 kB | 16/61 kB
Progress (2): 82/136 kB | 16/61 kB
Progress (2): 87/136 kB | 16/61 kB
Progress (2): 87/136 kB | 32/61 kB
Progress (3): 87/136 kB | 32/61 kB | 0/2.4 MB
Progress (3): 91/136 kB | 32/61 kB | 0/2.4 MB
Progress (3): 91/136 kB | 32/61 kB | 0/2.4 MB
Progress (3): 91/136 kB | 32/61 kB | 0/2.4 MB
Progress (3): 95/136 kB | 32/61 kB | 0/2.4 MB
Progress (3): 95/136 kB | 32/61 kB | 0/2.4 MB
Progress (3): 95/136 kB | 49/61 kB | 0/2.4 MB
Progress (3): 99/136 kB | 49/61 kB | 0/2.4 MB
Progress (3): 99/136 kB | 49/61 kB | 0/2.4 MB
Progress (3): 103/136 kB | 49/61 kB | 0/2.4 MB
Progress (3): 103/136 kB | 49/61 kB | 0/2.4 MB
Progress (3): 103/136 kB | 61 kB | 0/2.4 MB
Progress (3): 108/136 kB | 61 kB | 0/2.4 MB
Progress (3): 108/136 kB | 61 kB | 0/2.4 MB
Progress (3): 108/136 kB | 61 kB | 0/2.4 MB
Progress (3): 108/136 kB | 61 kB | 0/2.4 MB
Progress (3): 108/136 kB | 61 kB | 0/2.4 MB
Progress (3): 108/136 kB | 61 kB | 0/2.4 MB
Progress (3): 108/136 kB | 61 kB | 0/2.4 MB
Progress (3): 108/136 kB | 61 kB | 0.1/2.4 MB
Progress (3): 108/136 kB | 61 kB | 0.1/2.4 MB
Progress (3): 108/136 kB | 61 kB | 0.1/2.4 MB
Progress (3): 108/136 kB | 61 kB | 0.1/2.4 MB
Progress (3): 108/136 kB | 61 kB | 0.1/2.4 MB
Progress (3): 108/136 kB | 61 kB | 0.1/2.4 MB
Progress (4): 108/136 kB | 61 kB | 0.1/2.4 MB | 3.8/501 kB
Progress (4): 108/136 kB | 61 kB | 0.1/2.4 MB | 3.8/501 kB
Progress (4): 108/136 kB | 61 kB | 0.1/2.4 MB | 8.0/501 kB
Progress (4): 108/136 kB | 61 kB | 0.1/2.4 MB | 8.0/501 kB
Progress (4): 108/136 kB | 61 kB | 0.1/2.4 MB | 12/501 kB
Progress (4): 108/136 kB | 61 kB | 0.1/2.4 MB | 12/501 kB
Progress (4): 108/136 kB | 61 kB | 0.1/2.4 MB | 16/501 kB
Progress (4): 108/136 kB | 61 kB | 0.1/2.4 MB | 16/501 kB
Progress (4): 108/136 kB | 61 kB | 0.1/2.4 MB | 21/501 kB
Progress (4): 108/136 kB | 61 kB | 0.1/2.4 MB | 21/501 kB
Progress (4): 108/136 kB | 61 kB | 0.1/2.4 MB | 21/501 kB
Progress (4): 108/136 kB | 61 kB | 0.1/2.4 MB | 25/501 kB
Progress (4): 108/136 kB | 61 kB | 0.1/2.4 MB | 29/501 kB
Progress (4): 108/136 kB | 61 kB | 0.1/2.4 MB | 33/501 kB
Progress (4): 108/136 kB | 61 kB | 0.1/2.4 MB | 33/501 kB
Progress (4): 108/136 kB | 61 kB | 0.1/2.4 MB | 38/501 kB
Progress (4): 108/136 kB | 61 kB | 0.1/2.4 MB | 42/501 kB
Progress (4): 108/136 kB | 61 kB | 0.1/2.4 MB | 42/501 kB
Progress (4): 112/136 kB | 61 kB | 0.1/2.4 MB | 42/501 kB
Progress (4): 116/136 kB | 61 kB | 0.1/2.4 MB | 42/501 kB
Progress (4): 116/136 kB | 61 kB | 0.1/2.4 MB | 42/501 kB
Progress (4): 120/136 kB | 61 kB | 0.1/2.4 MB | 42/501 kB
Progress (4): 125/136 kB | 61 kB | 0.1/2.4 MB | 42/501 kB
Progress (4): 129/136 kB | 61 kB | 0.1/2.4 MB | 42/501 kB
Progress (4): 129/136 kB | 61 kB | 0.2/2.4 MB | 42/501 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/shared/maven-common-artifact-filters/3.1.1/maven-common-artifact-filters-3.1.1.jar (61 kB at 733 kB/s)
Progress (3): 133/136 kB | 0.2/2.4 MB | 42/501 kB
Progress (3): 136 kB | 0.2/2.4 MB | 42/501 kB
Progress (3): 136 kB | 0.2/2.4 MB | 42/501 kB

Downloaded from central: https://repo.maven.apache.org/maven2/org/eclipse/aether/aether-api/1.0.0.v20140518/aether-api-1.0.0.v20140518.jar (136 kB at 1.6 MB/s)
Progress (2): 0.2/2.4 MB | 42/501 kB
Progress (2): 0.2/2.4 MB | 42/501 kB
Progress (2): 0.2/2.4 MB | 42/501 kB
Progress (2): 0.2/2.4 MB | 46/501 kB
Progress (2): 0.2/2.4 MB | 46/501 kB
Progress (2): 0.2/2.4 MB | 50/501 kB
Progress (2): 0.3/2.4 MB | 50/501 kB
Progress (2): 0.3/2.4 MB | 67/501 kB
Progress (2): 0.3/2.4 MB | 67/501 kB
Progress (2): 0.3/2.4 MB | 83/501 kB
Progress (2): 0.3/2.4 MB | 83/501 kB
Progress (2): 0.3/2.4 MB | 99/501 kB
Progress (2): 0.3/2.4 MB | 99/501 kB
Progress (2): 0.3/2.4 MB | 116/501 kB
Progress (2): 0.3/2.4 MB | 116/501 kB
Progress (2): 0.3/2.4 MB | 116/501 kB
Progress (2): 0.4/2.4 MB | 116/501 kB
Progress (2): 0.4/2.4 MB | 132/501 kB
Progress (2): 0.4/2.4 MB | 132/501 kB
Progress (2): 0.4/2.4 MB | 132/501 kB
Progress (2): 0.4/2.4 MB | 149/501 kB
Progress (2): 0.4/2.4 MB | 149/501 kB
Progress (2): 0.4/2.4 MB | 165/501 kB
Progress (2): 0.4/2.4 MB | 165/501 kB
Progress (2): 0.4/2.4 MB | 181/501 kB
Progress (2): 0.4/2.4 MB | 181/501 kB
Progress (2): 0.4/2.4 MB | 181/501 kB
Progress (2): 0.5/2.4 MB | 181/501 kB
Progress (2): 0.5/2.4 MB | 198/501 kB
Progress (2): 0.5/2.4 MB | 198/501 kB
Progress (2): 0.5/2.4 MB | 214/501 kB
Progress (2): 0.5/2.4 MB | 214/501 kB
Progress (2): 0.5/2.4 MB | 231/501 kB
Progress (2): 0.5/2.4 MB | 231/501 kB
Progress (2): 0.5/2.4 MB | 247/501 kB
Progress (2): 0.5/2.4 MB | 247/501 kB
Progress (2): 0.5/2.4 MB | 263/501 kB
Progress (2): 0.5/2.4 MB | 280/501 kB
Progress (2): 0.5/2.4 MB | 280/501 kB
Progress (2): 0.5/2.4 MB | 296/501 kB
Progress (2): 0.6/2.4 MB | 296/501 kB
Progress (2): 0.6/2.4 MB | 312/501 kB
Progress (2): 0.6/2.4 MB | 312/501 kB
Progress (2): 0.6/2.4 MB | 329/501 kB
Progress (2): 0.6/2.4 MB | 329/501 kB
Progress (2): 0.6/2.4 MB | 345/501 kB
Progress (2): 0.6/2.4 MB | 345/501 kB
Progress (2): 0.6/2.4 MB | 362/501 kB
Progress (2): 0.6/2.4 MB | 362/501 kB
Progress (2): 0.6/2.4 MB | 378/501 kB
Progress (2): 0.6/2.4 MB | 378/501 kB
Progress (2): 0.6/2.4 MB | 394/501 kB
Progress (2): 0.7/2.4 MB | 394/501 kB
Progress (2): 0.7/2.4 MB | 411/501 kB
Progress (2): 0.7/2.4 MB | 411/501 kB
Progress (2): 0.7/2.4 MB | 427/501 kB
Progress (2): 0.7/2.4 MB | 444/501 kB
Progress (2): 0.7/2.4 MB | 444/501 kB
Progress (2): 0.7/2.4 MB | 460/501 kB
Progress (2): 0.7/2.4 MB | 460/501 kB
Progress (2): 0.7/2.4 MB | 476/501 kB
Progress (2): 0.7/2.4 MB | 476/501 kB
Progress (2): 0.7/2.4 MB | 493/501 kB
Progress (2): 0.7/2.4 MB | 501 kB
Progress (2): 0.7/2.4 MB | 501 kB

Downloaded from central: https://repo.maven.apache.org/maven2/commons-io/commons-io/2.15.1/commons-io-2.15.1.jar (501 kB at 4.9 MB/s)
Progress (1): 0.8/2.4 MB
Progress (1): 0.8/2.4 MB
Progress (1): 0.8/2.4 MB
Progress (1): 0.8/2.4 MB
Progress (1): 0.8/2.4 MB
Progress (1): 0.8/2.4 MB
Progress (1): 0.9/2.4 MB
Progress (1): 0.9/2.4 MB
Progress (1): 0.9/2.4 MB
Progress (1): 0.9/2.4 MB
Progress (1): 0.9/2.4 MB
Progress (1): 0.9/2.4 MB
Progress (1): 0.9/2.4 MB
Progress (1): 1.0/2.4 MB
Progress (1): 1.0/2.4 MB
Progress (1): 1.0/2.4 MB
Progress (1): 1.0/2.4 MB
Progress (1): 1.0/2.4 MB
Progress (1): 1.0/2.4 MB
Progress (1): 1.1/2.4 MB
Progress (1): 1.1/2.4 MB
Progress (1): 1.1/2.4 MB
Progress (1): 1.1/2.4 MB
Progress (1): 1.1/2.4 MB
Progress (1): 1.1/2.4 MB
Progress (1): 1.1/2.4 MB
Progress (1): 1.2/2.4 MB
Progress (1): 1.2/2.4 MB
Progress (1): 1.2/2.4 MB
Progress (1): 1.2/2.4 MB
Progress (1): 1.2/2.4 MB
Progress (1): 1.2/2.4 MB
Progress (1): 1.3/2.4 MB
Progress (1): 1.3/2.4 MB
Progress (1): 1.3/2.4 MB
Progress (1): 1.3/2.4 MB
Progress (1): 1.3/2.4 MB
Progress (1): 1.3/2.4 MB
Progress (1): 1.3/2.4 MB
Progress (1): 1.4/2.4 MB
Progress (1): 1.4/2.4 MB
Progress (1): 1.4/2.4 MB
Progress (1): 1.4/2.4 MB
Progress (1): 1.4/2.4 MB
Progress (1): 1.4/2.4 MB
Progress (1): 1.5/2.4 MB
Progress (1): 1.5/2.4 MB
Progress (1): 1.5/2.4 MB
Progress (1): 1.5/2.4 MB
Progress (1): 1.5/2.4 MB
Progress (1): 1.5/2.4 MB
Progress (1): 1.6/2.4 MB
Progress (1): 1.6/2.4 MB
Progress (1): 1.6/2.4 MB
Progress (1): 1.6/2.4 MB
Progress (1): 1.6/2.4 MB
Progress (1): 1.6/2.4 MB
Progress (1): 1.7/2.4 MB
Progress (1): 1.7/2.4 MB
Progress (1): 1.7/2.4 MB
Progress (1): 1.7/2.4 MB
Progress (1): 1.7/2.4 MB
Progress (1): 1.7/2.4 MB
Progress (1): 1.8/2.4 MB
Progress (1): 1.8/2.4 MB
Progress (1): 1.8/2.4 MB
Progress (1): 1.8/2.4 MB
Progress (1): 1.8/2.4 MB
Progress (1): 1.8/2.4 MB
Progress (1): 1.8/2.4 MB
Progress (1): 1.9/2.4 MB
Progress (1): 1.9/2.4 MB
Progress (1): 1.9/2.4 MB
Progress (1): 1.9/2.4 MB
Progress (1): 1.9/2.4 MB
Progress (1): 1.9/2.4 MB
Progress (1): 1.9/2.4 MB
Progress (1): 2.0/2.4 MB
Progress (1): 2.0/2.4 MB
Progress (1): 2.0/2.4 MB
Progress (1): 2.0/2.4 MB
Progress (1): 2.0/2.4 MB
Progress (1): 2.0/2.4 MB
Progress (1): 2.1/2.4 MB
Progress (1): 2.1/2.4 MB
Progress (1): 2.1/2.4 MB
Progress (1): 2.1/2.4 MB
Progress (1): 2.1/2.4 MB
Progress (1): 2.1/2.4 MB
Progress (1): 2.2/2.4 MB
Progress (1): 2.2/2.4 MB
Progress (1): 2.2/2.4 MB
Progress (1): 2.2/2.4 MB
Progress (1): 2.2/2.4 MB
Progress (1): 2.2/2.4 MB
Progress (1): 2.3/2.4 MB
Progress (1): 2.3/2.4 MB
Progress (1): 2.3/2.4 MB
Progress (1): 2.3/2.4 MB
Progress (1): 2.3/2.4 MB
Progress (1): 2.3/2.4 MB
Progress (1): 2.4/2.4 MB
Progress (1): 2.4/2.4 MB
Progress (1): 2.4/2.4 MB
Progress (1): 2.4/2.4 MB
Progress (1): 2.4/2.4 MB
Progress (1): 2.4 MB

Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/surefire/surefire-shared-utils/3.2.5/surefire-shared-utils-3.2.5.jar (2.4 MB at 15 MB/s)
[INFO] No tests to run.
[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  2.739 s
[INFO] Finished at: 2026-02-19T10:17:28Z
[INFO] ------------------------------------------------------------------------
```
